.avatar {
  width: 100px;
  height: 100px;
}

td, th {
  border: 1px solid #dddddd00;
  text-align: left;
  padding: 8px;
}
tr {
  background-color: rgba(26, 26, 131, 0.658);
}
tr:nth-child(even) {
  background-color: rgba(121, 16, 34, 0.616);
}

.zoomOut {
  transition: transform .5s;
  font-size: 20px;
  color: lightgreen;
}

.zoomOut:hover {
  transform: scale(1.2);
}

.zoomIn {
  transition: transform .5s;
  font-size: 20px;
  color: coral;
}

.zoomIn:hover {
  transform: scale(0.8); 
}
