.avatar {
  width: 100px;
  height: 100px;
  border-color: gold;
}

td, th {
  border: 1px solid #dddddd00;
  text-align: left;
  padding: 8px;
}
tr {
  background-color: rgba(26, 26, 131, 0.658);
}
tr:nth-child(even) {
  background-color: rgba(121, 16, 34, 0.616);
}

.img-thumbnail {
  background-color: gold;
}